<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Duis ipsum eiusmod cupidatat tempor consectetur reprehenderit consequat amet
    nulla nulla ullamco labore. Dolore pariatur dolor incididunt excepteur
    veniam deserunt ut amet non. Deserunt proident ad non ad do labore.
    Consectetur laborum Lorem quis nostrud reprehenderit eiusmod labore
    exercitation do do nisi reprehenderit adipisicing. Labore aliqua aute
    proident reprehenderit esse labore.
  </p>
</section>
